.swiper-container {
    width: 75%;
    height: 50%;
    background: white;
}

.swiper-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    align-content: center;
}
