<swiper *ngIf="!!images[0]"
        [slidesPerView]="1"
        [spaceBetween]="50"
        [centeredSlides]="true"
        [autoplay]="{
          delay: 5000,
          disableOnInteraction: false
        }"
        [loop]="true"
        [pagination]="{
          clickable: true
        }"
>
    <ng-template *ngIf="!!images[0]" swiperSlide><img src="{{images[0].url}}" alt="{{alt}}"></ng-template>
    <ng-template *ngIf="!!images[1]" swiperSlide><img src="{{images[1].url}}" alt="{{alt}}"></ng-template>
    <ng-template *ngIf="!!images[2]" swiperSlide><img src="{{images[2].url}}" alt="{{alt}}"></ng-template>
    <ng-template *ngIf="!!images[3]" swiperSlide><img src="{{images[3].url}}" alt="{{alt}}"></ng-template>
    <ng-template *ngIf="!!images[4]" swiperSlide><img src="{{images[4].url}}" alt="{{alt}}"></ng-template>
</swiper>
