.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.img-laptop-retouche {
    width: 60%;
    height: auto;
    outline: none;
}

.img-mobile-retouche {
    width: 100%;
    height: auto;
    outline: none;
}