.field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.contact {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: black;
    font-family: lato, sans-serif;
}

.map-laptop {
    width: 60%;
    height: 450px;
}

.map-mobile {
    width: 100%;
    height: 450px;
}