<div class="contact">
    <div class="field">
        <mat-icon>phone</mat-icon>
        {{'+33 6 64 01 22 59'}}
    </div>
    <div class="field">
        <mat-icon>facebook</mat-icon>
        <a href="https://www.facebook.com/PointZigZagAtelier">Facebook</a>
    </div>
    <div class="field">
        <mat-icon>camera_alt</mat-icon>
        <a href="https://www.instagram.com/point_zigzag_atelier/">Instagram</a>
    </div>
    <iframe [ngClass]="{'map-laptop': (isMobile$ | async) === false, 'map-mobile': (isMobile$ | async)}"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d44592.26469992219!2d5.913811!3d45.69064!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x40b0c91a80a37ef9!2sPOINT%20ZIGZAG%20ATELIER!5e0!3m2!1sfr!2sfr!4v1624142180743!5m2!1sfr!2sfr"
            style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
