.sidenav-container {
    height: 100%;
    width: 100%;
}

/* CSS Mobile Menu Gauche*/

.sidenav {
    width: auto;
    background: white;
}

.nav-list-top {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.button-mobile {
    margin-right: 10px;
    font-family: "Point ZigZag";
    font-size: large;
    background: transparent;
}

/* CSS Ecran Navigation */

.logo-laptop{
    width: auto;
    height: 200px;
    outline: none;
    margin-top: 25px;
}

.logo-mobile{
    width: auto;
    height: 100px;
    outline: none;
    margin-top: 25px;
}

/* CSS Ecran Navigation : Bouton surligné*/
.button-navigation {
    font-family: "Point ZigZag";
    font-size: xx-large;

    background: transparent;
    border: none;
    margin: 30px auto 0;
    outline: none;
    position: relative;
    transition: 0.3s;
    padding-left: 10px;
    padding-bottom: 10px;
    text-decoration: none; color: inherit;
}
.button-navigation:before {
    content: '';
    border-bottom: 1px solid #000;
    padding: 0 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    transition: 0.3s;
}
.button-navigation:hover:before {
    width: 100%;
    padding: 0;
}
.button-navigation:active {
    background: white;
    color: black;
    transition: none;
}

/* CSS Ecran Navigation : Ligne centré*/

.row {
    display: flex;
    justify-content: space-around;
    background-color: white;
    color: black;
}

.toolbar-row-laptop {
    height: 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.toolbar-row-mobile {
    height: 50px;
    margin-bottom: 10px;
    justify-content: flex-start;
}

.bottom {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: small;
    color: black;
    background-color: white;
    font-family: lato;
}
