<mat-sidenav-container class="sidenav-container">
    <mat-sidenav [attr.role]="'region'" [mode]="'over'" [opened]="menu" [autoFocus]="false" [disableClose]="true"
                 class="sidenav"
                 fixedInViewport>
        <mat-nav-list class="nav-list">
            <div class="nav-list-top">
                <button class="button-mobile" mat-button (click)=closeMenu()>
                    <mat-icon>highlight_off</mat-icon>
                </button>
            </div>
            <a class="button-mobile" routerLink="/" mat-list-item>Acceuil</a>
            <a class="button-mobile" routerLink="confection" mat-list-item>{{ 'ECRAN.BOUTON.CONFECTION' | translate }}</a>
            <a class="button-mobile" routerLink="broderie" mat-list-item>{{ 'ECRAN.BOUTON.BRODERIE' | translate }}</a>
            <a class="button-mobile" routerLink="retouche" mat-list-item>{{ 'ECRAN.BOUTON.RETOUCHE' | translate }}</a>
            <a class="button-mobile" routerLink="contact" mat-list-item>{{ 'ECRAN.BOUTON.CONTACT' | translate }}</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="row">
            <img routerLink=""
                 [ngClass]="{'logo-laptop': (isMobile$ | async) === false, 'logo-mobile': (isMobile$ | async)}" src="{{logoPath}}">
        </div>

        <div class="row">
            <mat-toolbar [ngClass]="{'toolbar-row-laptop': (isMobile$ | async) === false, 'toolbar-row-mobile': (isMobile$ | async)}">

                <button class="button-mobile"
                        (click)="openMenu()"
                        *ngIf="isMobile$ | async"
                        mat-icon-button
                        type="button">
                    <mat-icon>menu</mat-icon>
                </button>

                <a *ngIf="isMobile$ | async"
                   class="button-mobile">
                    {{ titre$ | async | translate }}</a>


                <div *ngIf="(isMobile$ | async) === false">
                    <a class="button-navigation" routerLink="confection" mat-button>{{ 'ECRAN.BOUTON.CONFECTION' | translate }}</a>
                    <a class="button-navigation" routerLink="broderie" mat-button>{{ 'ECRAN.BOUTON.BRODERIE' | translate }}</a>
                    <a class="button-navigation" routerLink="retouche" mat-button>{{ 'ECRAN.BOUTON.RETOUCHE' | translate }}</a>
                    <a class="button-navigation" routerLink="contact" mat-button>{{ 'ECRAN.BOUTON.CONTACT' | translate }}</a>
                </div>

            </mat-toolbar>

        </div>

        <router-outlet></router-outlet>

        <app-admin-action class="bottom" *ngIf="(isMobile$ | async) === false && !isProd"></app-admin-action>

        <div class="bottom" >© Made by Frédéric Lepault</div>
        <!-- Add Content Here -->
    </mat-sidenav-content>
</mat-sidenav-container>
