.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-laptop-confection {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    width: 75%;
    outline: none;
    height: 75vh;
}

.flex-mobile-confection {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    outline: none;
    height: 40vh;
}

.button-bar {
    margin: 10px;
}

.button {
    margin: 0px;
    background-color: white;
}