<div class="flex">

    <div class="button-bar">
        <button class="button" [disabled]="page === 1" mat-button (click)=prev()>
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button class="button" [disabled]="page === totalPages" mat-button (click)=next()>
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>

    <pdf-viewer [ngClass]="{'flex-laptop-confection': (isMobile$ | async) === false, 'flex-mobile-confection': (isMobile$ | async)}"
                [src]="confectionPath" [show-all]="false" [(page)]="page"
                [original-size]="true" [fit-to-page]="true" [stick-to-page]="true"
                [autoresize]="true"
                [show-borders]="false"
                (after-load-complete)="callBackFn($event)"
    >
    </pdf-viewer>
</div>
