/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: lato, "Point ZigZag", sans-serif;
}


.img-laptop{
    width: 75%;
    height: auto;
    outline: none;
}

.img-mobile{
    width: 100%;
    height: auto;
    outline: none;
}

@font-face {
    font-family: "Point ZigZag";
    src: url(assets/fonts/modernline.otf) format("opentype");
}
