.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-family: lato, serif;
    width: 100%;
    height: auto;
}

.field {
    margin: 10px;
}

.flex-laptop {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    width: 75%;
    height: auto;
    outline: none;
}

.flex-mobile {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: auto;
    outline: none;
}