<div class="flex">
    <div [ngClass]="{'flex-laptop': (isMobile$ | async) === false, 'flex-mobile': (isMobile$ | async)}">

        <img src="{{broderiePath[0] }}">

        <form class="form" [formGroup]="broderieForm">

            <div class="field">{{ 'ECRAN.FORMULAIRE' | translate }}</div>
            <img [ngClass]="{'flex-laptop': (isMobile$ | async) === false, 'flex-mobile': (isMobile$ | async)}"
                 src="{{broderiePath[2] }}">


            <!--<mat-form-field class="field">
                <mat-label>{{ 'ECRAN.BRODERIE.NOM' | translate }}</mat-label>
                <input matInput formControlName="nom">
            </mat-form-field>

            <mat-form-field class="field">
                <mat-label>{{ 'ECRAN.BRODERIE.EMAIL' | translate }}</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>

            <mat-form-field class="field">
                <mat-label>{{ 'ECRAN.BRODERIE.DEMANDE' | translate }}</mat-label>
                <input matInput formControlName="demande">
            </mat-form-field>

            <div class="field">
                <mat-error *ngIf="broderieForm.errors?.serverError">
                    {{ broderieForm.errors?.serverError }}
                </mat-error>
            </div>

            <div class="field">
                <button mat-button (click)=valider()>
                    {{ 'ECRAN.VALIDER' | translate }}
                </button>
            </div>-->

        </form>
    </div>

    <img [ngClass]="{'flex-laptop': (isMobile$ | async) === false, 'flex-mobile': (isMobile$ | async)}"
         src="{{broderiePath[1] }}">

</div>
