<ng-container *ngIf="logged; then thenTemplate; else elseTemplate"></ng-container>
<ng-template #thenTemplate>
    <button (click)=logout()>
        <mat-icon>logout</mat-icon>
    </button>
    <button (click)=openDialogGalleryDropZone()>
        <mat-icon>image</mat-icon>
    </button>
    <button (click)=openDialogNewsDropZone()>
        <mat-icon>history_edu</mat-icon>
    </button>
</ng-template>
<ng-template #elseTemplate>
    <button  (click)=openDialogLogin()>
        <mat-icon>account_circle</mat-icon>
    </button>
</ng-template>




